.pnav{
  background: #000;
}

#navbarText{
  justify-content: flex-end;
  font-family:'Merriweather',serif ;
  
  a{
    color: #C5C7D0;
  }
}

.logo{
  max-width: 10rem;
}

@media (max-width:1024px){
  .logo{
    max-width: 8rem;
  }
}
